*{
    font-family: 'Roboto', sans-serif;
}
h1{
    text-align: center;
    margin: 5vh 0px;
}
h1 span{
    border-bottom: 2px solid black;
}
#javaScript{
    border: 1px solid black;
    margin: 5vh;
    padding: 0px 5vw;
    font-size: 1rem;
}
#CSS{
    border: 1px solid black;
    margin: 5vh;
    padding: 0px 5vw;
    font-size: 1rem;
}
#webDesignerBg{
    position: absolute;
    opacity: 0.8;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}
nav{
    background-color: rgba(177, 173, 173, 0.685);
}
footer{
    background-color: rgba(177, 173, 173, 0.685);
}
nav div a:hover{
    background: rgb(177, 173, 173);
}